.Weather {
    border: 1px solid #303134;
    border-radius: 8px;
    padding: 20px;
}

.Weather .search-field {
    background-color: #303134;
    border: 1px solid #303134;
    color:  #e8eaed;
    line-height: 1.5;
}

input[type="search"]::placeholder {
    color: #e8eaed;
    font-size: 15px;
}

.Weather .search-button {
    background-color: #e8eaed;
    color: #303134;
    line-height: 1.5;
    font-size: 15px;
}

